* {
  margin: 0;
  padding: 0;
}

.fondo_naranja {
  background-color: rgb(247, 126, 14);
}

.link_header {
  color: aliceblue;
  font: bold;
}

.titulo {
  text-align: center;
  font: 800;
  padding: 500;
  width: 300;
  color: aliceblue;

}

.fondo_azul {
  background-color: rgb(9, 192, 248);
}

.subtitulo {
  text-align: center;
  color: aliceblue;
}